body {
	background: var(--background);
	color: var(--text);
	background-attachment: fixed;
}
ruffle-player {
	position: absolute;
	height: 100%;
	width: 100%;
	background: var(--background);
	margin: -8px;
}
