:root {
	--background: white;
	--color-1: #bbbbbb;
	--color-2: #d4d4d4;
	--color-3: #dddddd;
	--color-4: white;
	--text: black;
	--font-size: 30px;
	--font-family: Helvetica, Arial, sans-serif;
	--font-variant: normal;
}
